.far {
    cursor: pointer;
    
}

.green-icon {
    color: #198754
}

.red-icon {
    color: #dc3545
}
/* In your component's CSS */
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent backdrop */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    /* Add other styling as needed */
  }